# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
Code/Finetuning/debias_transformers/.svn/entries
Code/Finetuning/debias_transformers/.svn/format
Code/Finetuning/debias_transformers/.svn/wc.db
Code/Finetuning/debias_transformers/.svn/wc.db-journal
Code/Finetuning/debias_transformers/.svn/pristine/00/00a7b2d4230a8fb50bfd41933f252245c3fc533d.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/01/012a7b5781ab9f2d6cbf9156722a3d43f5d4b399.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/01/01831f8ad007b336af46625c24ceab30e035a502.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/02/025a692fddf4c42923b2ddd248d44a25f8ec744d.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/03/03a840438b4d1d2f4f5415217e01ce718f70072e.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/05/0537d6a93cdbd64bacaa2e025541e704ef3a595d.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/06/06b7297f97f70c2cda6ce548925444f63c1273ef.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/07/0794b4c5c21eae887e3208ec63340e93c809f5e6.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/08/08d13b4a017be631bca51965d7cd1cfa89cb2801.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/0a/0aee173f1faa9131d09327b2f8cd0c7843932402.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/0b/0b6c4f8681e5c10fe26fa9ed434b73cc9344e343.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/0b/0be23cfaf5280e97ad1643acc253e03fc72308e8.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/0e/0ef08c5b47a3535fe83d8ed0d8c26c7e3b9c65ac.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/11/1126feafc35c72526c39908f2f9f9c6341bd2840.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/12/128f73ccf60498a7a7a1fa72df189f1922859421.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/13/13c8234c57eb35ad19d3253d74e157e9f7f6b58f.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/14/1486cd240222b2f4f495821800ccf47856c19e2e.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/16/169fab1bfe59fd48d7deb14290227e03ee1fa71d.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/17/1711502832ac368881af6c8faa14a55bf5974d95.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/18/1812bc44417a0e1c1098ee08f7ec162ab806fc0a.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/19/1903f750483ae05e74a4b971e8d8384f8cb72139.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/1e/1eb2db9dc6629089e0b92869f95f4cbf841a29fc.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/20/20d4b851e317b553aec7a5b432cd02c8d02bc512.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/23/23d9fd35627ff2ef58f37c01c1a4700c54bb617b.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/23/23de0fad7f41d709bc2447c154aa26bb1af88514.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/26/26e53f7840d150c1440b7a1d627dd81665fd46c8.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/26/26442e42997e9a599d38b8d66e8c7f4d8137a974.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/28/2824fff1468bece05d53e2d06e4e862d90676167.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/29/29ada06fd6b8a1b986bdd6403030ed1b05bdf86a.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/33/33ddb019604d7f380a8fb4677d4067ccde94c824.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/33/3345ad5c8f32e7534345ce751fdfb7bac79a83b8.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/34/341fd4f61d893e922e37e8f25a4d62e4642c45f5.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/36/36ca0f5bc84ebcdd4aef6924775f9e1dc531e1b2.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/38/38dd795ccfae97dd6c7769a8f668fcdb1d41a4d5.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/38/386e98829efe7b531216a268d076539ae2828038.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/3d/3d1709f63a44a5d2a5acc762c0d01ba1dd85d909.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/40/40aeae2392b708dde2e7bee1622e4defae8b8c44.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/40/409c0ebb7e338fe7f3bd51084bfc0a3d30e6a777.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/41/4131d8e6b52f27e5b0b40233ad74fadd43830bc2.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/46/46e0d86cf67b17781d67e5a32549e5ad2f6bf09d.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/48/48c1032b374ec2eab48cdf0cafd4a732d3654420.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/48/48133939425977276e512da57888d6ce537f9ed1.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/4a/4a242dbf91397a932e2f1ab1e1e8080ca6e2e4d9.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/4b/4b9de2d1e2633666ea3dfd668950398a8daa6b1e.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/50/504307c1c41443ccf608b606cbcd49f1afaf9563.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/52/52ae51d8272db38e5c98c2de4330309786cc444d.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/52/5218a5a245e343c5d9beb611762b6d50c8e1947c.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/56/56a469836c6ec875683168a2ea10a5efc68956dd.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/56/560f2f91cce5a9d0ca12df30b63e3514187b6b2d.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/57/57f5bbc792035c50b2e87353ea4ec792f75aa351.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/58/58455d8fb3e92c88cde7f7ab606e9796cf5e4757.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/59/59a6c0b1fa7ee3452ce32ad08062cb7744e7cf1b.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/5b/5b5113a7181ad615e5467bc94ebc7e81013ffacd.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/5c/5c120f8cedf8325089d647de86f501cb2823b1e7.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/5d/5d3f3f6484f00e4cb6b560da980c66d167735ff6.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/5d/5d22a97d6cf6500b80035df6e387cd0afa81f092.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/5e/5e34609986bb92ab88e0d52236f871fe417fb0cc.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/5f/5ff0e617d1421a4c0a094f64d1489083a7b38fb5.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/62/62bced4882a83b652d7b0acfbd056e3747267d2b.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/62/6213705f81735ae5c21d4e09fb6783802e0c45e6.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/63/63071a653cd1eeaeae9c970a9312b9ea7e1d2de6.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/64/645f158e0cf88eb9712f9705d94cc17bdb832c68.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/65/6505d8f7763c637898aca3141628d18cec7e719d.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/68/68fe2a4ae26286560769273bdc39384906f3461b.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/6a/6a9ade75ad110ce2f6424f2dd8f04a292fef428a.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/6c/6c23d497ed0dd294cce44def1135745df46486a6.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/6f/6f1039c6cdef752a9b371cc65939f310e67ff15e.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/73/73619d0e72fa5fcbde4bab5a5902c36743b8df87.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/77/776ca517741fe1b9aa1f213b3f45b3fff27ae9c1.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/79/7936203579a3cfa441d2360718d46507ed5ae857.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/7a/7a1ae8f76079260eb827c47f2a55b8e6893c84e9.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/7c/7ca8e182a3fa08ae8f793ec886ee6d86fdf40033.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/7d/7d65529bc9b63ad7c8b117a54fbe5e06ec1dec40.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/7e/7e7f83437e6fdcb9d9ff6696435efd54d11497a7.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/7e/7e51d5d861c427f99e3aae8cafd75ca633061996.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/80/8056c7b8aab699ae8434760e8814f55f5a2942c8.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/80/80349d8923fed47df5d19db043d9e4b4c019c368.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/86/86a0530d83847afc4582fd9472851d318b2795e1.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/86/86fea8033224a4efea0326e47c061afb47c4c716.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/87/8739564c5c6fbb13a90b23955fa85741df7f841b.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/88/88c04eee60793bbc44254f32d4b7c5afcb31d6e7.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/89/8998c9b45c5073a7246c8b89e0406a29f6cd6c1f.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/8b/8b523e7bcbc8157abae1fdd508399f54fe397b8c.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/8c/8c561778bc5e5342cf3a3c8763cf9b0bbcf5a6b4.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/8c/8cdb87547ab8a138f5e066e4928ebb4d30da758c.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/8d/8d7bda0440294f7cf173852b8364052ad01041ed.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/8d/8df4719ff6cadbaa8d5ddbc12dea296f4ac66dc9.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/90/90597ffa25cbe3df34e9853a9d02fb87e57de6bd.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/92/92b5599373dea4b00cdb265152bfd76162758a62.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/94/94dff7ae8dec2d9a6b3315478307d78af6faf981.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/94/9445f554e4ff4042208c29e5eddd9c82a1381b86.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/95/951e45f4bc505b5cf0d9e911fa1ca32f07dfa1c0.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/95/958b9d556184ca6bb581c22925ba60144954063e.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/98/98d80af3a3589e4271752f55181e65eeb064b618.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/99/99decd0f8f18308695b329b7d3cb5cfaf4df05bf.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/9a/9a7a33a623a4ba3a5fe96101f6df47c4be50fe80.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/9c/9c8fa3cd5c9e21ce6f9d717758ca8dbc453c4914.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/9d/9d28e4b547dc71e47e5efdc58fb7369c76fd82cd.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/9f/9fd24a0697345356430443b2e3e055e267c62075.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/a0/a04cd13c3c11ffd0e5c897fbb11ddd406ce0d2b0.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/a0/a04ec4bb02f8933e4c8e373e33457a3c7a201442.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/a3/a3a90c6866d1ca7010c6d3f4b1d0cf7d64f2ddae.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/a4/a43aa970aba741dec04bb028f7756217687dfe0b.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/a8/a8d9dc83a59f264b5d02c35b5f8589bea2605db6.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/a9/a94ffc5e13d2c2b600d611929193614c76944427.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/a9/a980b4dcac6a6cb6efb60afa0dd5b840a18d403b.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/aa/aa40bd39c33649c66cc9612d07b0a3ffe0297d2d.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/aa/aa5590e258ad81b4092b981db3e6f27303db1ab7.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/ab/ab0799caab060e58f7fb7567ad56dc4ede2b28d1.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/ab/abe4dcdcbfa2e6f5626e9880b592b6919caee1f0.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/ac/ac108d729cf2540e204ee712649b59c7c3ee2dc3.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/ad/adcc0cc30ccd8249b96674eef7e2229fd4670b6f.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/ae/aeb61418bd4a5353b543eb806106ec3a4d103d48.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/b2/b2fd0d07c9fe8ef70399a3b0488ae20d34224fa7.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/b2/b23d6429d770b63342bb1908e544d62be8bbb521.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/b2/b225a284c462e342cd89dd06e9ac218d9800fe88.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/b3/b3659483489aa0d20e6304e3c7498ca03f41378d.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/b4/b449ad645ae5b2cc5ac97f1c9f73d0db8799d7cc.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/b5/b5a6410cc3a191b2fadfa93854e6aa9fa9f86052.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/b6/b63fd7035f920040e69d24a5e96230923cb32777.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/b9/b9b4410c414603ec4c024496118f78aed2108461.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/b9/b939438e94b4df4fcaac8420897a6a9348c2cb2a.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/bd/bd94dd959b171bb225a51f9f1bac12552f7923bc.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/be/beec33a334c138283b7add582f73a7aff2e00a3b.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/c0/c0080ade0a8fa838d78120e21509caef30994847.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/c3/c320238e610531fa21c8d33814bf31b58dc67136.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/c4/c48534be574af61f31bf880c0b7818fae958569e.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/c9/c9d6ff2d0c660564613373e01a8841594dda9fda.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/c9/c90a6d069e453ceb70a735c2eae7fb0c9ee147f0.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/ca/ca934e7bf0cb163d13be89845bca871a997d2027.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/cb/cb7dcfc9050a9f42975b0f0886b61b8d8efe5c2a.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/cb/cb78f02051b90a4af427a8c47cfc82e10cbac5a9.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/cc/ccbbbcd1d1d9e9c24b31ec0454de321ee338564b.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/ce/ce5a38d9aab61e51ba03c1d795fe22cb535c2cb5.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/ce/cec083be0fbf2520785c243c3d112ccf57a1ca63.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/d0/d07868113fecb6f68a9138adf8c5e044bd0552bd.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/d1/d1c900a71a70bd3d8e9f79c8ac89d6cdc141c085.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/d1/d1dd7b151ce1fafd662c50a9207b692243131e5a.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/d4/d477965e4553b5ec2a80c8f30ca6c544d3525e9f.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/d5/d56370a1facc42723190f28469e44c80b10ad455.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/d7/d7dd58c8629bdbf81c8bfb2a69308cc057e84d9d.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/d8/d888ddfea2cb416595dc16093914683b3832e6cd.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/d8/d8440cac0bfb127a05567ff095b46c3d030f9b4f.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/da/da8dad3b73ae82c7a2aa69048d7d788e2b08bd85.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/da/da39a3ee5e6b4b0d3255bfef95601890afd80709.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/da/da674e12d5d7d3626e570a10832ce704fed62ec3.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/da/da5221efe93fc24e14609797a717068f5aa76b9e.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/db/db1d4372c4febd4d5d5fa5bd6ea438be390f0f28.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/de/de5625e06738fe264e6b0e9ff2c157d3b68cf76a.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/df/df2a1ad288947e665b7cca717271abf5ea1b7d1e.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/df/df9d9b3aab714a6433e989c2031ba288e53d551b.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/df/dfd24426811595fc7250e36bfaf16243ed9256be.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/e7/e7a769415dccfab5cedf62d86c24d3ec0cc23b79.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/e7/e7d87998eb830e96ff1dca475173545678a55d69.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/e8/e8bbd6c531ea3dac68027305a6b7818756c79875.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/ea/ea4955fbdd9641cfba80041dc2445487e3a91430.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/eb/eb2b6312cf0d402e09449ec6887dd40a0a4d8004.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/ee/eed3982015457eb972c1574d4ca306327e8e3aa4.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/ee/eefc66a86ee454143cdee51928601b13b2dad989.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/ef/ef2109055dd9caf0bef45b77cbde12f5c557fdb0.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/f0/f080ed3286e5e3142b95e33ee219dc5cdfd6fec5.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/f4/f4e1cd341b4dd1cf7bd1baafafabd6df3a4f945e.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/f4/f4e072ddaecfd0a937d25e854982378e4164c0fd.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/f8/f848c6342ea6e3f6740a4ed91c23f89abe04736d.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/fa/fa42ae9ed20194dc87fe928a023fa65f2da40cb7.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/fe/fef7a2fd41d0d17863f70d1eef09ca29893cb9e9.svn-base
Code/Finetuning/debias_transformers/.svn/pristine/ff/ff78f2d0694938ced7875b486a9a39b492d362cb.svn-base
Code/Finetuning/runs/Jul09_16-05-41_ip-172-31-33-115/events.out.tfevents.1594310741.ip-172-31-33-115.3831.0
Code/Finetuning/runs/Jul09_17-25-18_ip-172-31-33-115/events.out.tfevents.1594315518.ip-172-31-33-115.3831.1
Code/Finetuning/runs/Jul09_17-28-24_ip-172-31-33-115/events.out.tfevents.1594315704.ip-172-31-33-115.4692.0
Code/Finetuning/runs/Jul09_17-35-16_ip-172-31-33-115/events.out.tfevents.1594316116.ip-172-31-33-115.2392.0
Code/Finetuning/runs/Jul09_18-07-58_ip-172-31-33-115/events.out.tfevents.1594318078.ip-172-31-33-115.2443.0
Code/Finetuning/runs/Jul09_18-51-09_ip-172-31-33-115/events.out.tfevents.1594320669.ip-172-31-33-115.2443.1
Code/Finetuning/runs/Jul18_14-03-24_ip-172-31-33-115/events.out.tfevents.1595081004.ip-172-31-33-115.2229.0
Code/Finetuning/runs/Jul18_14-05-11_ip-172-31-33-115/events.out.tfevents.1595081111.ip-172-31-33-115.2229.1
Code/Finetuning/runs/Jul18_14-09-25_ip-172-31-33-115/events.out.tfevents.1595081365.ip-172-31-33-115.3069.0
Code/Finetuning/runs/Jul18_14-11-13_ip-172-31-33-115/events.out.tfevents.1595081473.ip-172-31-33-115.3069.1
Code/Finetuning/runs/Jul18_14-12-40_ip-172-31-33-115/events.out.tfevents.1595081560.ip-172-31-33-115.2327.0
Code/Finetuning/runs/Jul18_14-18-53_ip-172-31-33-115/events.out.tfevents.1595081933.ip-172-31-33-115.2694.0
Code/Finetuning/runs/Jul18_15-02-59_ip-172-31-33-115/events.out.tfevents.1595084579.ip-172-31-33-115.2839.0
Code/Finetuning/runs/Jul18_18-24-32_ip-172-31-33-115/events.out.tfevents.1595096672.ip-172-31-33-115.2526.0
Code/Finetuning/runs/Jul18_18-26-52_ip-172-31-33-115/events.out.tfevents.1595096812.ip-172-31-33-115.2612.0
Code/Finetuning/runs/Jul18_18-30-38_ip-172-31-33-115/events.out.tfevents.1595097038.ip-172-31-33-115.2612.1
Code/Finetuning/runs/Jul18_18-31-41_ip-172-31-33-115/events.out.tfevents.1595097101.ip-172-31-33-115.3124.0
Code/Finetuning/runs/Jul18_18-37-18_ip-172-31-33-115/events.out.tfevents.1595097438.ip-172-31-33-115.3557.0
Code/Finetuning/runs/Jul18_18-40-35_ip-172-31-33-115/events.out.tfevents.1595097635.ip-172-31-33-115.3587.0
Code/Finetuning/runs/Jul18_19-00-49_ip-172-31-33-115/events.out.tfevents.1595098849.ip-172-31-33-115.3786.0
Code/Finetuning/runs/Jul18_19-05-36_ip-172-31-33-115/events.out.tfevents.1595099136.ip-172-31-33-115.4013.0
Code/Finetuning/runs/Jul18_20-54-41_ip-172-31-33-115/events.out.tfevents.1595105681.ip-172-31-33-115.3605.0
Code/Finetuning/runs/Jul18_21-12-19_ip-172-31-33-115/events.out.tfevents.1595106739.ip-172-31-33-115.4208.0
Code/Finetuning/runs/Jul18_21-29-10_ip-172-31-33-115/events.out.tfevents.1595107750.ip-172-31-33-115.4240.0
Code/Finetuning/runs/Jul18_21-37-11_ip-172-31-33-115/events.out.tfevents.1595108231.ip-172-31-33-115.4861.0
Code/Finetuning/runs/Jul18_21-39-18_ip-172-31-33-115/events.out.tfevents.1595108358.ip-172-31-33-115.4938.0
Code/Finetuning/runs/Jul18_21-42-29_ip-172-31-33-115/events.out.tfevents.1595108549.ip-172-31-33-115.5027.0
Code/Finetuning/runs/Jul18_21-45-19_ip-172-31-33-115/events.out.tfevents.1595108719.ip-172-31-33-115.5278.0
Code/Finetuning/runs/Jul18_21-50-33_ip-172-31-33-115/events.out.tfevents.1595109033.ip-172-31-33-115.5356.0
Code/Finetuning/runs/Jul18_21-53-58_ip-172-31-33-115/events.out.tfevents.1595109238.ip-172-31-33-115.5683.0
Code/Finetuning/runs/Jul18_22-50-50_ip-172-31-33-115/events.out.tfevents.1595112650.ip-172-31-33-115.6384.0
Code/Finetuning/runs/Jul18_23-01-33_ip-172-31-33-115/events.out.tfevents.1595113293.ip-172-31-33-115.6401.0
Code/Finetuning/runs/Jul18_23-53-58_ip-172-31-33-115/events.out.tfevents.1595116438.ip-172-31-33-115.7308.0
Code/Finetuning/runs/Jul19_00-35-36_ip-172-31-33-115/events.out.tfevents.1595118936.ip-172-31-33-115.8087.0
Code/Finetuning/runs/Jul19_00-48-36_ip-172-31-33-115/events.out.tfevents.1595119716.ip-172-31-33-115.8105.0
Code/Finetuning/runs/Jul19_01-01-39_ip-172-31-33-115/events.out.tfevents.1595120499.ip-172-31-33-115.8466.0
Rodrigo-data/Finetuning/dbrd/v2/cm_stat_bertje_biased_matrix.csv
Rodrigo-data/Finetuning/dbrd/v2/cm_stat_bertje_biased.csv
Rodrigo-data/Finetuning/dbrd/v2/cm_stat_bertje_biased.p
Rodrigo-data/Finetuning/dbrd/v2/cm_stat_bertje_debiased_matrix.csv
Rodrigo-data/Finetuning/dbrd/v2/cm_stat_bertje_debiased.csv
Rodrigo-data/Finetuning/dbrd/v2/cm_stat_bertje_debiased.p
Rodrigo-data/Finetuning/dbrd/v2/cm_stat_robbert_debiased_matrix.csv
Rodrigo-data/Finetuning/dbrd/v2/cm_stat_robbert_debiased.csv
Rodrigo-data/Finetuning/dbrd/v2/cm_stat_robbert_debiased.p
Rodrigo-data/Finetuning/dbrd/v2/bert_biased/config.json
Rodrigo-data/Finetuning/dbrd/v2/bert_biased/pytorch_model.bin
Rodrigo-data/Finetuning/dbrd/v2/bert_biased/vocab.txt
Rodrigo-data/Finetuning/dbrd/v2/bert_debiased/config.json
Rodrigo-data/Finetuning/dbrd/v2/bert_debiased/pytorch_model.bin
Rodrigo-data/Finetuning/dbrd/v2/bert_debiased/vocab.txt
Rodrigo-data/Finetuning/dbrd/v2/robbert_debiased/config.json
Rodrigo-data/Finetuning/dbrd/v2/robbert_debiased/merges.txt
Rodrigo-data/Finetuning/dbrd/v2/robbert_debiased/pytorch_model.bin
Rodrigo-data/Finetuning/dbrd/v2/robbert_debiased/vocab.json
Rodrigo-data/Finetuning/dbrd/bert_cached_lm_512_train
Rodrigo-data/Finetuning/dbrd/roberta_cached_lm_512_train
Rodrigo-data/Finetuning/dbrd/pytorch_model.bin
.gitignore
Rodrigo-data/gender-pairs/nl_gender_pairs_large_alpha_90.json
Rodrigo-data/gender-pairs/nl_gender_pairs_large_alpha.json
Rodrigo-data/gender-pairs/nl_gender_pairs_large_nonalpha.json
Rodrigo-data/SEAT/csv/angry_black_woman_stereotype_b.csv
Rodrigo-data/SEAT/csv/angry_black_woman_stereotype.csv
Rodrigo-data/SEAT/csv/heilman_double_bind_competent_1-.csv
Rodrigo-data/SEAT/csv/heilman_double_bind_competent_1.csv
Rodrigo-data/SEAT/csv/heilman_double_bind_competent_1+3-.csv
Rodrigo-data/SEAT/csv/heilman_double_bind_competent_one_sentence.csv
Rodrigo-data/SEAT/csv/heilman_double_bind_competent_one_word.csv
Rodrigo-data/SEAT/csv/heilman_double_bind_likable_1-.csv
Rodrigo-data/SEAT/csv/heilman_double_bind_likable_1.csv
Rodrigo-data/SEAT/csv/heilman_double_bind_likable_1+3-.csv
Rodrigo-data/SEAT/csv/heilman_double_bind_likable_one_sentence.csv
Rodrigo-data/SEAT/csv/heilman_double_bind_likable_one_word.csv
Rodrigo-data/SEAT/csv/seat-weat.zip
Rodrigo-data/SEAT/csv/sent-angry_black_woman_stereotype_b.csv
Rodrigo-data/SEAT/csv/sent-angry_black_woman_stereotype.csv
Rodrigo-data/SEAT/csv/sent-heilman_double_bind_competent_one_word.csv
Rodrigo-data/SEAT/csv/sent-heilman_double_bind_likable_one_word.csv
Rodrigo-data/SEAT/csv/sent-weat1_en_nl.csv
Rodrigo-data/SEAT/csv/sent-weat1.csv
Rodrigo-data/SEAT/csv/sent-weat2.csv
Rodrigo-data/SEAT/csv/sent-weat3.csv
Rodrigo-data/SEAT/csv/sent-weat3b.csv
Rodrigo-data/SEAT/csv/sent-weat4.csv
Rodrigo-data/SEAT/csv/sent-weat5.csv
Rodrigo-data/SEAT/csv/sent-weat5b.csv
Rodrigo-data/SEAT/csv/sent-weat6-new8_en_nl - sentw8.csv
Rodrigo-data/SEAT/csv/sent-weat6.csv
Rodrigo-data/SEAT/csv/sent-weat6b.csv
Rodrigo-data/SEAT/csv/sent-weat7.csv
Rodrigo-data/SEAT/csv/sent-weat7b.csv
Rodrigo-data/SEAT/csv/sent-weat8.csv
Rodrigo-data/SEAT/csv/sent-weat8b.csv
Rodrigo-data/SEAT/csv/sent-weat9.csv
Rodrigo-data/SEAT/csv/sent-weat10.csv
Rodrigo-data/SEAT/csv/weat1.csv
Rodrigo-data/SEAT/csv/weat2.csv
Rodrigo-data/SEAT/csv/weat3.csv
Rodrigo-data/SEAT/csv/weat3b.csv
Rodrigo-data/SEAT/csv/weat4.csv
Rodrigo-data/SEAT/csv/weat5.csv
Rodrigo-data/SEAT/csv/weat5b.csv
Rodrigo-data/SEAT/csv/weat6.csv
Rodrigo-data/SEAT/csv/weat6b.csv
Rodrigo-data/SEAT/csv/weat7.csv
Rodrigo-data/SEAT/csv/weat7b.csv
Rodrigo-data/SEAT/csv/weat8.csv
Rodrigo-data/SEAT/csv/weat8b.csv
Rodrigo-data/SEAT/csv/weat9.csv
Rodrigo-data/SEAT/csv/weat10.csv
Rodrigo-data/SEAT/tests/angry_black_woman_stereotype_b.jsonl
Rodrigo-data/SEAT/tests/angry_black_woman_stereotype.jsonl
Rodrigo-data/SEAT/tests/heilman_double_bind_competent_1-.jsonl
Rodrigo-data/SEAT/tests/heilman_double_bind_competent_1.jsonl
Rodrigo-data/SEAT/tests/heilman_double_bind_competent_1+3-.jsonl
Rodrigo-data/SEAT/tests/heilman_double_bind_competent_one_sentence.jsonl
Rodrigo-data/SEAT/tests/heilman_double_bind_competent_one_word.jsonl
Rodrigo-data/SEAT/tests/heilman_double_bind_likable_1-.jsonl
Rodrigo-data/SEAT/tests/heilman_double_bind_likable_1.jsonl
Rodrigo-data/SEAT/tests/heilman_double_bind_likable_1+3-.jsonl
Rodrigo-data/SEAT/tests/heilman_double_bind_likable_one_sentence.jsonl
Rodrigo-data/SEAT/tests/heilman_double_bind_likable_one_word.jsonl
Rodrigo-data/SEAT/tests/sent-angry_black_woman_stereotype_b.jsonl
Rodrigo-data/SEAT/tests/sent-angry_black_woman_stereotype.jsonl
Rodrigo-data/SEAT/tests/sent-heilman_double_bind_competent_one_word.jsonl
Rodrigo-data/SEAT/tests/sent-heilman_double_bind_likable_one_word.jsonl
Rodrigo-data/SEAT/tests/sent-weat1.jsonl
Rodrigo-data/SEAT/tests/sent-weat2.jsonl
Rodrigo-data/SEAT/tests/sent-weat3.jsonl
Rodrigo-data/SEAT/tests/sent-weat3b.jsonl
Rodrigo-data/SEAT/tests/sent-weat4.jsonl
Rodrigo-data/SEAT/tests/sent-weat5.jsonl
Rodrigo-data/SEAT/tests/sent-weat5b_test0001.csv
Rodrigo-data/SEAT/tests/sent-weat5b_test0002.csv
Rodrigo-data/SEAT/tests/sent-weat5b.jsonl
Rodrigo-data/SEAT/tests/sent-weat6.jsonl
Rodrigo-data/SEAT/tests/sent-weat6b.jsonl
Rodrigo-data/SEAT/tests/sent-weat7.jsonl
Rodrigo-data/SEAT/tests/sent-weat7b.jsonl
Rodrigo-data/SEAT/tests/sent-weat8.jsonl
Rodrigo-data/SEAT/tests/sent-weat8b.jsonl
Rodrigo-data/SEAT/tests/sent-weat9.jsonl
Rodrigo-data/SEAT/tests/sent-weat10.jsonl
Rodrigo-data/SEAT/tests/weat1.jsonl
Rodrigo-data/SEAT/tests/weat2.jsonl
Rodrigo-data/SEAT/tests/weat3.jsonl
Rodrigo-data/SEAT/tests/weat3b.jsonl
Rodrigo-data/SEAT/tests/weat4.jsonl
Rodrigo-data/SEAT/tests/weat5.jsonl
Rodrigo-data/SEAT/tests/weat5b.jsonl
Rodrigo-data/SEAT/tests/weat6.jsonl
Rodrigo-data/SEAT/tests/weat6b.jsonl
Rodrigo-data/SEAT/tests/weat7.jsonl
Rodrigo-data/SEAT/tests/weat7b.jsonl
Rodrigo-data/SEAT/tests/weat8.jsonl
Rodrigo-data/SEAT/tests/weat8b.jsonl
Rodrigo-data/SEAT/tests/weat9.jsonl
Rodrigo-data/SEAT/tests/weat10.jsonl
Rodrigo-data/SEAT/sent-weat1.jsonl
